@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<address>
    <h3>Our address in Chinese: </h3> 
   <h2>中国上海市徐汇区淮海中路1500号鸿艺豪苑2 号楼3B室</h2>
</address>

<br />

<address>
    <h3>Our address in English: </h3>
    
    <h2>
        Ambassy Court 2-3B<br />
        1500 Huaihai Middle Road<br />
        Shanghai, 200031<br />
        China<br />
    </h2>
    @*<abbr title="Phone">P:</abbr>
    (+86) 138 1739 7196*@
</address>

<address>
    <strong>Sharon:</strong>    <a href="mailto:sharon.shvika@gmail.com">sharon.shvika@gmail.com</a><abbr title="Phone"> P:</abbr>(+86) 138 1739 7196<br />
    <strong>Roey:</strong> <a href="mailto:roeyni@gmail.com">Send an e-mail to Roey</a><abbr title="Phone"> P:</abbr>(+86) 139 1265 8715, (+86) 1860621 0893
</address>