@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<div class="jumbotron">
    <h1>Roey Nitzani and Sharon Shvika</h1>
    <h2>רועי ניצני ושרון שויקה</h2>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4" id="FrameWhoWeAre">
        <h2>Who we are </h2>
        <p>
            We are Roey and Sharon
            
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" id="FrameWhereWeAre">
        <h2>Where we are</h2>
        <p>We live in Shanghai </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" id="FrameWhyWeAre">
        <h2>Why we are</h2>
        <p>Why not?</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>


<script src="~/Scripts/MyJavaScriptFunctions.js"></script>